[Unit]
Description=Gunicorn instance to serve NoteJam
After=network.target

[Service]
User=njuser
Group=njuser
WorkingDirectory=/home/njuser/flask_note_jam
Environment="PATH=/home/njuser/flask_note_jam/venv/bin"
ExecStart=/home/njuser/flask_note_jam/venv/bin/gunicorn --workers 3 --bind unix:notejam.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
