[Unit]
Description=Gunicorn instance to serve NoteJam
After=network.target

[Service]
User=azureuser
Group=azureuser
WorkingDirectory=/home/azureuser/flask_note_jam
Environment="PATH=/home/azureuser/flask_note_jam/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/mssql-tools/bin"
ExecStartPre=/usr/bin/git pull
ExecStart=/home/azureuser/flask_note_jam/venv/bin/gunicorn --workers 3 --bind unix:notejam.sock -m 000 wsgi:app

[Install]
WantedBy=multi-user.target
