[Unit]
Description=Gunicorn instance to serve NoteJam
After=network.target

[Service]
User={{ nj_app_user }}
Group={{ nj_app_user }}
WorkingDirectory={{ nj_app_dir }}
Environment="PATH={{ nj_app_dir }}/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/mssql-tools/bin"
ExecStartPre=/usr/bin/git pull
ExecStart={{ nj_app_dir }}/venv/bin/gunicorn --workers 3 --bind unix:notejam.sock -m 000 wsgi:app

[Install]
WantedBy=multi-user.target
